@page "/test/scatter"
@layout Arcadia.Demo.Server.Components.Layout.FullScreenLayout
@using Arcadia.Charts.Components.Charts

<div style="padding: 24px; background: transparent;">
    <ArcadiaScatterChart TItem="DataXY" Data="@_data"
                       XField="@(d => d.X)" YField="@(d => d.Y)"
                       Height="400" Width="600" Color="primary" PointSize="6"
                       AnimateOnLoad="true" Title="Height vs Weight" />
</div>

@code {
    record DataXY(double X, double Y);

    List<DataXY> _data = Enumerable.Range(0, 50).Select(i =>
    {
        var rng = new Random(i);
        return new DataXY(150 + rng.NextDouble() * 50, 50 + rng.NextDouble() * 60);
    }).ToList();
}
